<article>
  <h1>
    Title
  </h1>
  <p class="subtitle">
    Subtitle
  </p>

  <section>
    <p>
      This is some text. This is some text.<%= sidenote("my-sidenote", "This is a sidenote!") %> This is some text. This is some
      text. This is some text. This is some text. This is some text.
    </p>
  </section>

  <section>
    <h2>Blog posts</h2>
    <ul>
    <% @posts.sort_by(&:date).reverse.each do |post| %>
      <li>
        <%= post.date %> &mdash;
        <a href="<%= post.output_directory %>"><%= post.title %></a>
      </li>
    <% end %>
    </ul>
  </section>
</article>
